:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #131316;
  --color-bg-base: #0F0F0F;
  --color-bg-surface: #0F0F0F;
  --color-bg-highlight: #222226;
  --color-fg-shade: #969696;
  --color-fg-base: #BBBBBB;
  --color-fg-surface: #E0E0E0;
  --color-fg-highlight: #00FFFF;
  --color-primary-bg: #777777;
  --color-primary-base: #00FFFF;
  --color-primary-fg: #00FFFF;
  --color-secondary-bg: #252528;
  --color-secondary-base: #494950;
  --color-secondary-fg: #6E6E78;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;
  
  /** general */
  --font-family: JetBrains Mono;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1600px;
  --surface-shadow: 0px 0px 0px #777777;
  --surface-borderRadius: 16px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 6;
}
