@-webkit-keyframes circling-shadow {
    0% {
        -webkit-filter: drop-shadow(-10px -10px 0 var(--accent-color2)) drop-shadow(10px 10px 0 var(--accent-color));
        filter: drop-shadow(-10px -10px 0 var(--accent-color2)) drop-shadow(10px 10px 0 var(--accent-color));
    }
    25% {
        -webkit-filter: drop-shadow(-10px 10px 0 var(--accent-color2)) drop-shadow(10px -10px 0 var(--accent-color));
        filter: drop-shadow(-10px 10px 0 var(--accent-color2)) drop-shadow(10px -10px 0 var(--accent-color));
    }
    50% {
        -webkit-filter: drop-shadow(10px 10px 0 var(--accent-color)) drop-shadow(-10px -10px 0 var(--accent-color2));
        filter: drop-shadow(10px 10px 0 var(--accent-color)) drop-shadow(-10px -10px 0 var(--accent-color2));
    }
    75% {
        -webkit-filter: drop-shadow(10px -10px 0 var(--accent-color)) drop-shadow(-10px 10px 0 var(--accent-color2));
        filter: drop-shadow(10px -10px 0 var(--accent-color)) drop-shadow(-10px 10px 0 var(--accent-color2));
    }
    to {
        -webkit-filter: drop-shadow(-10px -10px 0 var(--accent-color2)) drop-shadow(10px 10px 0 var(--accent-color));
        filter: drop-shadow(-10px -10px 0 var(--accent-color2)) drop-shadow(10px 10px 0 var(--accent-color));
    }
}
@keyframes circling-shadow {
    0% {
        -webkit-filter: drop-shadow(-10px -10px 0 var(--accent-color2)) drop-shadow(10px 10px 0 var(--accent-color));
        filter: drop-shadow(-10px -10px 0 var(--accent-color2)) drop-shadow(10px 10px 0 var(--accent-color));
    }
    25% {
        -webkit-filter: drop-shadow(-10px 10px 0 var(--accent-color2)) drop-shadow(10px -10px 0 var(--accent-color));
        filter: drop-shadow(-10px 10px 0 var(--accent-color2)) drop-shadow(10px -10px 0 var(--accent-color));
    }
    50% {
        -webkit-filter: drop-shadow(10px 10px 0 var(--accent-color)) drop-shadow(-10px -10px 0 var(--accent-color2));
        filter: drop-shadow(10px 10px 0 var(--accent-color)) drop-shadow(-10px -10px 0 var(--accent-color2));
    }
    75% {
        -webkit-filter: drop-shadow(10px -10px 0 var(--accent-color)) drop-shadow(-10px 10px 0 var(--accent-color2));
        filter: drop-shadow(10px -10px 0 var(--accent-color)) drop-shadow(-10px 10px 0 var(--accent-color2));
    }
    to {
        -webkit-filter: drop-shadow(-10px -10px 0 var(--accent-color2)) drop-shadow(10px 10px 0 var(--accent-color));
        filter: drop-shadow(-10px -10px 0 var(--accent-color2)) drop-shadow(10px 10px 0 var(--accent-color));
    }
}
@-webkit-keyframes circling-shadow-small {
    0% {
        -webkit-filter: drop-shadow(-5px -5px 0 var(--accent-color2)) drop-shadow(5px 5px 0 var(--accent-color));
        filter: drop-shadow(-5px -5px 0 var(--accent-color2)) drop-shadow(5px 5px 0 var(--accent-color));
    }
    25% {
        -webkit-filter: drop-shadow(-5px 5px 0 var(--accent-color2)) drop-shadow(5px -5px 0 var(--accent-color));
        filter: drop-shadow(-5px 5px 0 var(--accent-color2)) drop-shadow(5px -5px 0 var(--accent-color));
    }
    50% {
        -webkit-filter: drop-shadow(5px 5px 0 var(--accent-color)) drop-shadow(-5px -5px 0 var(--accent-color2));
        filter: drop-shadow(5px 5px 0 var(--accent-color)) drop-shadow(-5px -5px 0 var(--accent-color2));
    }
    75% {
        -webkit-filter: drop-shadow(5px -5px 0 var(--accent-color)) drop-shadow(-5px 5px 0 var(--accent-color2));
        filter: drop-shadow(5px -5px 0 var(--accent-color)) drop-shadow(-5px 5px 0 var(--accent-color2));
    }
    to {
        -webkit-filter: drop-shadow(-5px -5px 0 var(--accent-color2)) drop-shadow(5px 5px 0 var(--accent-color));
        filter: drop-shadow(-5px -5px 0 var(--accent-color2)) drop-shadow(5px 5px 0 var(--accent-color));
    }
}
@keyframes circling-shadow-small {
    0% {
        -webkit-filter: drop-shadow(-5px -5px 0 var(--accent-color2)) drop-shadow(5px 5px 0 var(--accent-color));
        filter: drop-shadow(-5px -5px 0 var(--accent-color2)) drop-shadow(5px 5px 0 var(--accent-color));
    }
    25% {
        -webkit-filter: drop-shadow(-5px 5px 0 var(--accent-color2)) drop-shadow(5px -5px 0 var(--accent-color));
        filter: drop-shadow(-5px 5px 0 var(--accent-color2)) drop-shadow(5px -5px 0 var(--accent-color));
    }
    50% {
        -webkit-filter: drop-shadow(5px 5px 0 var(--accent-color)) drop-shadow(-5px -5px 0 var(--accent-color2));
        filter: drop-shadow(5px 5px 0 var(--accent-color)) drop-shadow(-5px -5px 0 var(--accent-color2));
    }
    75% {
        -webkit-filter: drop-shadow(5px -5px 0 var(--accent-color)) drop-shadow(-5px 5px 0 var(--accent-color2));
        filter: drop-shadow(5px -5px 0 var(--accent-color)) drop-shadow(-5px 5px 0 var(--accent-color2));
    }
    to {
        -webkit-filter: drop-shadow(-5px -5px 0 var(--accent-color2)) drop-shadow(5px 5px 0 var(--accent-color));
        filter: drop-shadow(-5px -5px 0 var(--accent-color2)) drop-shadow(5px 5px 0 var(--accent-color));
    }
}
@-webkit-keyframes text-flicker {
    0% {
        text-shadow: 1px 0 0 var(--accent-color), -2px 0 0 var(--accent-color2);
    }
    to {
        text-shadow: 2px 0.5px 2px var(--accent-color), -1px -0.5px 2px var(--accent-color2);
    }
}
@keyframes text-flicker {
    0% {
        text-shadow: 1px 0 0 var(--accent-color), -2px 0 0 var(--accent-color2);
    }
    to {
        text-shadow: 2px 0.5px 2px var(--accent-color), -1px -0.5px 2px var(--accent-color2);
    }
}
@-webkit-keyframes box-flicker {
    0% {
        -webkit-filter: drop-shadow(1px 0 0 var(--accent-color)) drop-shadow(-2px 0 0 var(--accent-color2));
        filter: drop-shadow(1px 0 0 var(--accent-color)) drop-shadow(-2px 0 0 var(--accent-color2));
    }
    to {
        -webkit-filter: drop-shadow(2px 0.5px 2px var(--accent-color)) drop-shadow(-1px -0.5px 2px var(--accent-color2));
        filter: drop-shadow(2px 0.5px 2px var(--accent-color)) drop-shadow(-1px -0.5px 2px var(--accent-color2));
    }
}
@keyframes box-flicker {
    0% {
        -webkit-filter: drop-shadow(1px 0 0 var(--accent-color)) drop-shadow(-2px 0 0 var(--accent-color2));
        filter: drop-shadow(1px 0 0 var(--accent-color)) drop-shadow(-2px 0 0 var(--accent-color2));
    }
    to {
        -webkit-filter: drop-shadow(2px 0.5px 2px var(--accent-color)) drop-shadow(-1px -0.5px 2px var(--accent-color2));
        filter: drop-shadow(2px 0.5px 2px var(--accent-color)) drop-shadow(-1px -0.5px 2px var(--accent-color2));
    }
}
@-webkit-keyframes accordion-hover {
    0% {
        clip: rect(9px, 9999px, 99px, 0);
    }
    to {
        clip: rect(9px, 9999px, 99px, 0);
    }
}
@keyframes accordion-hover {
    0% {
        clip: rect(9px, 9999px, 99px, 0);
    }
    to {
        clip: rect(9px, 9999px, 99px, 0);
    }
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family: Fira Code;
    font-style: normal;
    font-weight: 300;
    src: local("Fira Code"), url(../../static/media/FiraCode-Light.e37fbea8ec98ce1ed3c5.woff) format("woff");
}
@font-face {
    font-family: Fira Code;
    font-style: normal;
    font-weight: 500;
    src: local("Fira Code"), url(../../static/media/FiraCode-Regular.19a2738eed5f65644ea5.woff) format("woff");
}
body * {
    font-family: Fira Code;
    font-weight: 300;
}
#root,
body,
html {
    height: 100%;
    width: 100%;
}
body {
    background-color: var(--bg-color);
    color: var(--default-color);
    overflow: hidden;
}
body,
p {
    margin: 0;
}
a,
a:active,
a:visited {
    color: var(--default-color);
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
    background: var(--default-color);
}
::-webkit-scrollbar-track-piece {
    background: transparent;
}
:root {
    --bg-color: #0F0F0F;
    --default-color: #00FFFF;
    --accent-color: #00FFFF;
    --accent-color2: #0FFFFF;
    --border-radius: 5px;
    --settings-window-gap: 50px;
    --text-shadow-downwards: 1px 0px 0 var(--accent-color), -1px 0px 0 var(--accent-color), 0px -1px 0 var(--accent-color), 0px 1px 0 var(--accent-color), 0px 2px 0 var(--accent-color), 0px 3px 0 var(--accent-color),
        0px 4px 0 var(--accent-color);
}
/*# sourceMappingURL=main.42fcf7fb.css.map*/
